In [1]:
val gender_submission = spark.read.format("csv").option("inferSchema", "true").option("header", "true").load("data/gender_submission.csv")

gender_submission = [PassengerId: int, Survived: int]

[PassengerId: int, Survived: int]

In [176]:
val test = spark.read.format("csv").option("inferSchema", "true").option("header", "true").load("data/test.csv")

test.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

test = [PassengerId: int, Pclass: int ... 9 more fields]

[PassengerId: int, Pclass: int ... 9 more fields]

In [172]:
val df = spark.read.format("csv").option("inferSchema", "true").option("header", "true").load("data/train.csv")

df = [PassengerId: int, Survived: int ... 10 more fields]

[PassengerId: int, Survived: int ... 10 more fields]

In [173]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [174]:
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [175]:
import org.apache.spark.sql.functions._

val meanValue = df.agg(mean(df("Age"))).first.getDouble(0)
val fixedDf = df.na.fill(meanValue, Array("Age", "Embarked", "Cabin"))

meanValue = 29.69911764705882
fixedDf = [PassengerId: int, Survived: int ... 10 more fields]

[PassengerId: int, Survived: int ... 10 more fields]

In [162]:
val renamedDF = fixedDf.withColumnRenamed("Survived", "label")

renamedDF = [PassengerId: int, label: int ... 10 more fields]

[PassengerId: int, label: int ... 10 more fields]

In [183]:
// label columns
val colLabel = "label"

// categorical columns
val colCat = "Sex"

val ticketcol = "Ticket"

val namecol = "Name"

val cabinfilter = "Cabin"

val embarkedfilter = "Embarked"

// numerical columns
val colNum = renamedDF.columns.filter(_ != colLabel).filter(_ != colCat).filter(_ != ticketcol).filter(_ != namecol).filter(_ != cabinfilter)

colLabel = label
colCat = Sex
ticketcol = Ticket
namecol = Name
cabinfilter = Cabin
colNum = Array(PassengerId, Pclass, Age, SibSp, Parch, Fare, Embarked)

lastException: Throwable = null

Array(PassengerId, Pclass, Age, SibSp, Parch, Fare, Embarked)

In [184]:
import org.apache.spark.ml.feature.{VectorAssembler, StandardScaler}

val va = new VectorAssembler()  
    .setInputCols(colNum)
    .setOutputCol("features")
val featuredHousing = va.transform(renamedDF)



val scaler = new StandardScaler()
    .setInputCol("features")
    .setOutputCol("scaledFeatures")
    .setWithStd(true)
    .setWithMean(true)
val scaledHousing = scaler.fit(featuredHousing).transform(featuredHousing)

scaledHousing.show(5)

java.lang.IllegalArgumentException: Data type string of column Embarked is not supported.

In [163]:
import org.apache.spark.ml.feature.OneHotEncoderEstimator

import org.apache.spark.ml.feature.StringIndexer

import org.apache.spark.ml.feature.VectorAssembler

import org.apache.spark.ml.{Pipeline, PipelineModel}

import org.apache.spark.ml.PipelineStage

import org.apache.spark.ml.regression.RandomForestRegressor
import org.apache.spark.ml.evaluation.RegressionEvaluator

In [164]:
import org.apache.spark.ml.feature.StringIndexer


val sexIndexer = new StringIndexer().setInputCol("Sex").setOutputCol("Sex_index")

val ticketIndexer = new StringIndexer().setInputCol("Ticket").setOutputCol("Ticket_index")

val nameIndexer = new StringIndexer().setInputCol("Name").setOutputCol("Name_index")



val sexindexermodel = sexIndexer.fit(renamedDF).transform(renamedDF)

val cabinindexermodel = ticketIndexer.fit(sexindexermodel).transform(sexindexermodel)

val nameIndexermodel = nameIndexer.fit(cabinindexermodel).transform(cabinindexermodel)


nameIndexermodel.select("Name","Name_index").distinct.show(20)

+--------------------+----------+
|                Name|Name_index|
+--------------------+----------+
|Madsen, Mr. Fridt...|      15.0|
|    Ali, Mr. William|     183.0|
|Braund, Mr. Owen ...|     329.0|
|Attalah, Mr. Sleiman|     450.0|
|Vanden Steen, Mr....|     306.0|
|Shellard, Mr. Fre...|     192.0|
|Lefebre, Master. ...|     885.0|
| Olsson, Miss. Elina|      38.0|
|Laitinen, Miss. K...|     642.0|
|Allen, Miss. Elis...|     542.0|
|"McGowan, Miss. A...|     417.0|
|Hakkarainen, Mrs....|     626.0|
| Smiljanic, Mr. Mile|     298.0|
|Lurette, Miss. Elise|     739.0|
|Sunderland, Mr. V...|      33.0|
|Lobb, Mr. William...|     853.0|
|Davidson, Mr. Tho...|     871.0|
|Vestrom, Miss. Hu...|     491.0|
|Nicola-Yarred, Ma...|      89.0|
|Cann, Mr. Ernest ...|     765.0|
+--------------------+----------+
only showing top 20 rows

sexIndexer = strIdx_79a3369bcdf7
ticketIndexer = strIdx_5d8975418c2c
nameIndexer = strIdx_7b013b2d191b
sexindexermodel = [PassengerId: int, label: int ... 11 more fields]
cabinindexermodel = [PassengerId: int, label: int ... 12 more fields]
nameIndexermodel = [PassengerId: int, label: int ... 13 more fields]

[PassengerId: int, label: int ... 13 more fields]

In [165]:

import org.apache.spark.ml.feature.OneHotEncoderEstimator

val sex_encoder = new OneHotEncoderEstimator()
    .setInputCols(Array("Sex_index"))
    .setOutputCols(Array("Sex_index_Vec"))

val ticket_encoder = new OneHotEncoderEstimator()
    .setInputCols(Array("Ticket_index"))
    .setOutputCols(Array("Ticket_index_Vec"))

val name_encoder = new OneHotEncoderEstimator()
    .setInputCols(Array("Name_index"))
    .setOutputCols(Array("Name_index_Vec"))


val ohHousing = sex_encoder.fit(nameIndexermodel).transform(nameIndexermodel)

val hous2 = ticket_encoder.fit(ohHousing).transform(ohHousing)

val hous3 = name_encoder.fit(hous2).transform(hous2)

hous3.show(5)

+-----------+-----+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+------------+----------+-------------+-----------------+-----------------+
|PassengerId|label|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|Sex_index|Ticket_index|Name_index|Sex_index_Vec| Ticket_index_Vec|   Name_index_Vec|
+-----------+-----+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+------------+----------+-------------+-----------------+-----------------+
|          1|    0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|      0.0|       257.0|     329.0|(1,[0],[1.0])|(680,[257],[1.0])|(890,[329],[1.0])|
|          2|    1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|      1.0|       608.0|     805.0|    (1,[],[])|(680,[608],[1.0])|(890,[805],[1.0])|
|          3|    1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|      1.0|       292.0|     548.0|    (1,[],[])|(680,[292],[1.0])|(890,[548],[1.0])|
|          4|    1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|      1.0|        46.0|     482.0|    (1,[],[])| (680,[46],[1.0])|(890,[482],[1.0])|
|          5|    0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|      0.0|       425.0|      12.0|(1,[0],[1.0])|(680,[425],[1.0])| (890,[12],[1.0])|
+-----------+-----+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+---------+------------+----------+-------------+-----------------+-----------------+
only showing top 5 rows

sex_encoder = oneHotEncoder_1ae840306330
ticket_encoder = oneHotEncoder_406415b8d013
name_encoder = oneHotEncoder_e08914afebf6
ohHousing = [PassengerId: int, label: int ... 14 more fields]
hous2 = [PassengerId: int, label: int ... 15 more fields]
hous3 = [PassengerId: int, label: int ... 16 more fields]

[PassengerId: int, label: int ... 16 more fields]

In [166]:
//columns for training
val cols = Array("Sex_index_Vec", "Ticket_index_Vec", "Name_index_Vec", "SibSp", "Parch", "Age", "Fare")
val vectorAssembler = new VectorAssembler().setInputCols(cols).setOutputCol("features")

val dataset = vectorAssembler.transform(hous3).select("features", "label")

dataset.show(5)

val Array(trainSet, testSet) = dataset.randomSplit(Array(0.8, 0.2))

+--------------------+-----+
|            features|label|
+--------------------+-----+
|(1575,[0,258,1010...|    0|
|(1575,[609,1486,1...|    1|
|(1575,[293,1229,1...|    1|
|(1575,[47,1163,15...|    1|
|(1575,[0,426,693,...|    0|
+--------------------+-----+
only showing top 5 rows

cols = Array(Sex_index_Vec, Ticket_index_Vec, Name_index_Vec, SibSp, Parch, Age, Fare)
vectorAssembler = vecAssembler_c61f3d68888a
dataset = [features: vector, label: int]
trainSet = [features: vector, label: int]
testSet = [features: vector, label: int]

[features: vector, label: int]

In [178]:
val rf = new RandomForestRegressor()
    .setLabelCol("label")
    .setFeaturesCol("features")

// train the model
val rfModel = rf.fit(trainSet)

// make predictions on the test data
val predictions = rfModel.transform(testSet)

predictions.select("prediction", "label", "features").show(5)

// select (prediction, true label) and compute test error
val evaluator = new RegressionEvaluator()
    .setLabelCol("label")
    .setPredictionCol("prediction")
    .setMetricName("rmse")

val rmse = evaluator.evaluate(predictions)
println(s"Root Mean Squared Error (RMSE) on test data = $rmse")

+-------------------+-----+--------------------+
|         prediction|label|            features|
+-------------------+-----+--------------------+
|0.37352890512010983|    1|(1575,[0,3,1253,1...|
|0.16660189865514446|    0|(1575,[0,4,972,15...|
| 0.1447217511125361|    0|(1575,[0,6,856,15...|
|0.17091013435514188|    0|(1575,[0,7,735,15...|
|0.14146033364263472|    0|(1575,[0,11,1052,...|
+-------------------+-----+--------------------+
only showing top 5 rows

Root Mean Squared Error (RMSE) on test data = 0.43540880600366866

rf = rfr_e123390523a3
rfModel = RandomForestRegressionModel (uid=rfr_e123390523a3) with 20 trees
predictions = [features: vector, label: int ... 1 more field]
evaluator = regEval_f1b7867236a4
rmse = 0.43540880600366866

lastException: Throwable = null

0.43540880600366866

In [168]:
import org.apache.spark.mllib.evaluation.MulticlassMetrics

In [169]:
val rdd = predictions.select("label", "prediction").rdd.map(row â‡’ (row.getInt(0).toDouble, row.getDouble(1)))

rdd = MapPartitionsRDD[1544] at map at <console>:129

MapPartitionsRDD[1544] at map at <console>:129

In [170]:
// Instantiate metrics object
new MulticlassMetrics(rdd).accuracy

0.0